#deleteButton {
  margin: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}
#deleteAccountItem,
#deleteCohortItem {
  margin-bottom: 10px;
  display: none;
}
ul {
  list-style: none;
}
#deleteAccount,
#deleteCohort {
  width: 150px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
}
