divMessage {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* container::after {
    content: "";
    clear: both;
    display: table;
  } */
#chatBoxRoom {
  max-height: 600px;
  scroll-behavior: smooth;
}
#chatContain {
  height: 50%;
  width: 50%;
  border: 2px solid black;
  border-radius: 10px;
  margin: auto;
  position: relative;
  top: 20%;
  left: -10%;
}
