.article {
  display: center;
  width: 100%;
  margin-right: 0px;
}
.cardContainerfor {
  float: left;
  width: 30%;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 25px;
}
#aaaaaa {
  width: 100%;
  min-width: 100%;
}
