#CreateCohortInput {
  display: inline-block;
  background-color: transparent;
  color: black;
}
::placeholder {
  color: black;
}
#outerDiv {
  border: 2px solid black;
  border-radius: 10px;
  width: 450px;
  height: 280px;
  margin: auto;
  position: relative;
  top: 30%;
  left: -15%;
}
#createCohortDiv {
  margin: auto;
  position: relative;
  top: 24%;
  left: -5%;
  width: 40%;
}
