#container {
  width: 15%;
  height: 100%;
  float: left;
  background-color: #2a2c2d;
  margin: auto;
  position: fixed;
  left: -350px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 0%;
  overflow-y: scroll;
}
#container::-webkit-scrollbar {
  display: none;
}
#arrowbox {
  border-radius: 90px;
  /* border: 2px solid black; */
  width: 30px;
  height: 30px;
  float: right;
  left: -1%;
  position: relative;
}

/* #arrow {
  width: 20px;
  height: 20px;
  margin: auto;
  top: 0.5%;
  /* right: 5%; */
/* position: relative; */
/* }  */
#rbkLogo {
  width: 120px;
  height: 80px;
  margin: auto;
  position: absolute;
  top: 3%;
  left: 30%;
}
#buttonsBox {
  margin: auto;
  top: 15%;
  left: -10%;
  position: absolute;
}
